<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>AJ1 Details and Specifications</h1>
    <div class="shoe-name">
        <h1><%= shoes.title %></h1>
        <div><p></p><strong>URL: </strong><%= shoes.url %></p></div>
        <div><p></p><strong>Source: </strong> <%= shoes.shoeLink %></p></div>
        <img src= "<%= shoes.img %>" alt= "<%= shoes.title %>"></img>
   </div>
</body>
</html>